.shop {
  margin-bottom: 49px;

  .header__appStore {
    width: 160px;
    height: 53px;
    cursor: pointer;
  }

  .header__googlePlay {
    width: 182px;
    height: 54px;
    margin-left: 5px;
    cursor: pointer;
  }
}